<p> Hello {{ nickname }}, </p>
<p> We got a request from your account to reset the password </p>
<p> here is the confirmation code: {{ content }}</p>
<p> If you did not request this email you can safely ignore it and check your security settings </p>